<%= include ActionView::Helpers::AssetUrlHelper %>
import {
  work,
  play,
  dumpster,
  textEditor,
  moveWindow,
  resizeWindow,
  appIcon,
} from './windows.js';

import { scheduleChats, wizardChat } from './chat.js'

import {
  titleScreen,
  quiz,
  runQuiz,
} from './intro.js'

import {
  gameOver
} from './game_over.js'

var WM = require('simple-window-manager');
const wm = new WM({
  borderRadius: '10px'
})

wm.overlay.innerHTML = `
  <audio class="os-start" src="<%= audio_path('mac.mp3') %>" type="audio/mp3"></audio>
  <audio class="os-start" src="<%= audio_path('windowsme.mp3') %>" type="audio/mp3"></audio>
  <audio class="os-start" src="<%= audio_path('windows31.mp3') %>" type="audio/mp3"></audio>
  <audio id="bloop" src="<%= audio_path('bloop.mp3') %>" type="audio/mp3"></audio>
`

var score = 0;
var quizWindow = quiz(wm);
var titleScreenWindow = titleScreen(wm);
var movementInterval = 19000;
var resizeInterval = 10000;
var gameDuration = 600000;
var playWindowOpensAt = 20000;
var bsodTimer = 5000;
var videos = [
  'v538817827',
  'v538881620',
  'v538884216'
]
var wallpapers = [
  '<%= image_path('windows.jpg') %>',
  '<%= image_path('vista.jpg') %>',
  '<%= image_path('snow_leopard.jpg') %>'
]

window.onload = () =>
{
  titleScreenWindow.open();
  document.getElementById('start-game').addEventListener('click', function(event) {
    event.preventDefault();
    titleScreenWindow.close();
    var audio = document.getElementById('audio-introduction');
    audio.addEventListener('ended', function() {
      quizWindow.open();
    });
    audio.play()
  });
  document.addEventListener('calculateScore', function(event) {
    score = event.detail;
  });

  runQuiz();

  // run game loop
  document.getElementById('submit-quiz').addEventListener('click', function(event) {
    event.preventDefault();
    quizWindow.close();
    desktop(score);
    // startBSODTimer();
    startGameTimer(wm);
  });
}

function startGameTimer(wm) {
  window.setTimeout(function() {
    console.log('sending game over event');
    var event = new Event('gameOver');
    document.dispatchEvent(event);
  }, gameDuration);

  document.addEventListener('gameOver', function() {
    console.log('game over event recieved by document');
    gameOver(wm);
  });
}

function desktop(score) {
  var workWindow = work(wm);
  var scoreIndex = scoreToIndex(score);
  var video = videos[scoreIndex];
  var bg = wallpapers[scoreIndex];
  var playWindow = play(video, wm);

  wm.overlay.style.backgroundImage = `url(${bg})`;
  wm.overlay.style.backgroundSize = `cover`;

  document.querySelectorAll('audio.os-start')[scoreIndex].play()

  appIcon('work', workWindow, 20, 20, '<%= image_path('work.png') %>', wm).open({ noFocus: true });
  appIcon('play', playWindow, 140, 20, '<%= image_path('twitch.png') %>', wm).open({ noFocus: true });
  appIcon('text', textEditor(wm), 260, 20, '<%= image_path('text.png') %>', wm).open({ noFocus: true });
  appIcon('trash', dumpster(wm), 380, 20, '<%= image_path('trash.png') %>', wm).open({ noFocus: true });
  var chatIcon = appIcon('chat', wizardChat(wm), 500, 20, '<%= image_path('chat.png') %>', wm).open({ noFocus: true });
  scheduleChats(wm, chatIcon);

  // workWindow.open();
  setTimeout(function() {
    if(playWindow.closed) {
      playWindow.open();
    }
  }, playWindowOpensAt);
  playWindow.on('open', function() {
    // Always keep play window on top
//    setInterval(function() {
 //     playWindow.sendToFront();
  //  }, 100);

    // Set move window interval
    window.setInterval(function() {
      var timeUntilMove = Math.random() * movementInterval;
      if(Math.random() > 0.5) {
        window.setTimeout(function() {
          moveWindow(playWindow, workWindow, (5 + (Math.random() * 10)));
        }, timeUntilMove);;
      }
    }, movementInterval);

    // Set resize window interval
    window.setInterval(function() {
      var timeUntilResize = Math.random() * resizeInterval;
      if(Math.random() > 0.5) {
        window.setTimeout(function() {
          resizeWindow(playWindow, Math.random() * 10);
        }, timeUntilResize);;
      }
    }, resizeInterval);
  });

  function scoreToIndex(score) {
    if(score <= 8.33) {
      return 0;
    } else if (score <= 11.66) {
      return 1;
    } else {
      return 2;
    }
  }
}

function startBSODTimer() {
  setTimeout(function() {
    var bsod = document.createElement('div');
    bsod.classList.add('bsod')
    bsod.innerHTML = `
    <p>A problem has been detected and allvuu has been shut down to prevent damage to your computer.</p>
    <p>The problem seems to have been caused by the following file: GRENADE_HILL.BAT
    <p>UNINTENDED_CONSEQUENCES</p>
    <p>If this is the first time you've seen this stop error screen, press space to continue.</p>
    `
    document.querySelector('.bsod-point').appendChild(bsod);
  },bsodTimer);
}
